<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百分比布局</title>
    <style>
       *{
           margin: 0;
           padding: 0;
       }
       .app{
           width:100%;
           height: 200px;
           text-align: center;
       }
       .left{
           float: left;
           width:20%;
           background: darkcyan;
       }
       .right{
           float: left;
           width:80%;
           background:darkorange;
       }
    </style>
</head>
<body>
    <div class="app">
        <div class="left">左边</div>
        <div class="right">右边</div>
    </div>
</body>
</html>